#test1 > p:only-child {
  background-color: aqua;
}
/* 해석 순서가 뒤 > 앞 ( only-child > p) */

#test2 > p:only-of-type {
  background-color: orange;
}
/* 해석 순서가 앞 > 뒤 ( p > only-of-type) */

#test3 > p:empty {
  background-color: turquoise;
  height: 20px;
}

#test4-1, #test4-2, .test4-3 {
  background-color: violet;
  color: red;
}

/* #test5-1 후손 중
클래스가 c5인 요소를 선택 */

#test5-1 .c5 {
  background-color: cornflowerblue;
}

/* #test5-2인 자식중
클래스가 c5인 li 요소만 선택 */

#test5-2 > li.c5 {
  background-color: aquamarine;
}

/* 클래스가 여러개인 요소만 선택 */
.test6.c6 {
  background-color: tomato;
}

