* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#linecolor {
  color: chartreuse;
}

body {
  background-color: darkturquoise;
  margin: 0;
  padding: 0 250px;
}

#minilinecolor {
  color: red;
  margin-top: 30px;
}

#skills-list {
  list-style: none;
}

nav {
  background-color: white;
  position: sticky;
  width: 100%;
  justify-content: center;
  padding: 10px;
}



header {
  text-align: center;
  padding: 60px 60px;
}

.introduce {
  margin-top: 15px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

header nav a {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}

.profile img {

  border: 3px solid black;
}

#about-me-section {
  text-align: center;
  margin-bottom: 30px;
}

#about-me-section > img {
  width : 300px;
  border : 2px solid black;
}

#education-skills-section {
  text-align: center;
  margin-bottom: 30px;
}

#education-skills-section table {
  margin: 0 auto;
  border : 1px solid black;
  margin-bottom: 30px;
}

#education-skills-section th,
#education-skills-section td {
  border: 1px solid tomato;
  padding: 10px;
}

#projects-section {
  text-align: center;
  margin-bottom: 30px;
}

#contact-me-section {
  text-align: center;
  margin-bottom: 100px;
}

#projects-section a {
  display: block;
  margin-top: 8px; 
}

#projects-section img {
  width : 300px;
  border : 2px solid black;
}

#contact-me-section > p {
  margin-top: 15px;
}